#submit{
    height:2rem;
    width:100%;
    background-color: #EBE8DB;
    color:rgb(2, 0, 0);
    font-weight: bold;
}
body{

  color:rgb(7, 6, 6);
  margin:0;
}

h1,p{
    text-align:center;
    margin: 1em auto;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3vzhO2G47b8BtopbuRuWmvHoX_Kp7WvGjxA&s);
    background-size: cover;
}

p{
    text-decoration: underline;
}

form{
    margin:0 auto;
    padding-bottom: 2em;
}